body {
    margin: 0px;
    font-family: "Roboto Mono", monospace;
    background: #673ab7;
}
header {
    display: flex;
    background: #512da8;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 60px;
    width: 60px;
    padding-left: 10px;
}
nav {
    width: 500px;
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.btn-nav {
    width: 40px;
    height: 40px;
}
.splashs {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: url(../assets/img/fondo.jpg) no-repeat center center;
    background-size: cover;
}

.info {
    color: #ffffff;
}
.title-splash {
    font-size: 40px;
    text-align: center;
}
.text-splash {
    font-size: 20px;
    padding: 30px;
    text-align: center;
}
.player {
    width: 50%;
}
.otros-ep {
    background: #d1c4e9;
    padding: 0 20px;
    max-width: 100%;
    margin: 0 auto;
}
.title-otros {
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    width: 100%;
}
.contenedor-ep {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 90px;
    max-width: 100%;
}
.card-episodio {
    width: 360px;
    margin: 10px;
    background-color: #673ab7;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.img-episodio img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.text-episodio {
    font-size: 15px;
    flex: 1;
    color: #fff;
}

.btn-card {
    width: 100%;
    text-align: center;
}
.btn-card a {
    text-decoration: none;
    color: #212121;
    font-size: 20px;
    font-weight: 700;
    background: #ffcd54;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
        0 1px 3px 1px rgb(60 64 67 / 15%);
}
/* Section del carrousel */
.sectionCarousel {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.carrouselContainer {
    width: 90%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 5px 25px;
    border: 3px outset #1c6ea4;
    border-radius: 15px;
    position: relative;
}
.carrousel {
    height: 70vh;
    width: 300%;
    display: flex;
    margin-left: -100%;
}
.carrouselCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.carrouselImg {
    width: 100%;
    height: 45vh;
}
.carrouselImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.carrouselTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #673ab7;
    height: 20vh;
    padding: 10px;
    color: #fafafa;
}
.carrouselBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    border-radius: 25%;
    cursor: pointer;
}
.carrouselBtn:hover {
    background: #fafafa;
}
.btnDcha {
    right: 10px;
}
.btnIzq {
    left: 10px;
}
footer {
    padding: 1rem;
    background: #512da8;
}
footer h5 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
